@import "variables";

.block_company {
  .data {
    .button {
      background-color: $color-company-main;
      width: 270px;
      height: 70px;
      border-radius: 3px;
      font-weight: 700;
    }
  }
}

.block_specialization {
  .data {
    .button {
      background-color: $color-company-main;
      width: 270px;
      height: 70px;
      border-radius: 3px;
      font-weight: 700;
    }
  }
}

.block_adv1 {

  .data {
    .button {
      width: 330px;
      height: 110px;

      a {
        font-weight: 700;
        font-size: 22px;
        color: $color-company-main;
      }
    }
  }

}
